{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Delete ticket {{ ticket.username }}</h1>
    <form method="post" >
      <label>
        Протокол
        <textarea name="body" style="width: 100%" readonly>{{ ticket.protokol }}</textarea>
      </label>

      <footer class="grid">
        <button type="submit" >Delete</button>
        <a href="/ticket/list" role="button" class="secondary">Cancel</a>
      </footer>      
    </form>
{% endblock %}