{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

    <h1>Редагування "{{ seance.test.title }}-{{ seance.id }}"</h1>
    <form method="post" >
      <label>
        Тест         
        <select name="test_id" required>
            {% for test in tests %}
            {% set selected = "selected" if test.id == seance.test_id else ""  %}
            <option value="{{test.id}}" {{selected}}  >{{test.title}}</option>
            {% endfor%}
        </select>
      </label>

      <label>
        Open Time
        <input type="datetime-local" name="open_time" value="{{ seance.open_time }}">
      </label>

      <label>
        Open Minutes
        <input type="number" name="open_minutes" value="{{ seance.open_minutes }}">
      </label>

      <label>
        Filter
        <input type="text" name="stud_filter" value="{{ seance.stud_filter }}">
      </label>


      <footer class="grid">
        <button type="submit" >Зберігти</button>
        <a href="/seance/list" role="button" class="secondary">Скасувати</a>
      </footer>      
    </form>
{% endblock %}