{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    
<h1>My Seances</h1>

<a href="/seance/new">New</a>

{% if seances and seances|length %}
<table>
  <tbody>
    {% for seance in seances %}
    <tr>
      <td><a href="/ticket/list/{{seance.id}}">{{ seance.title }}</a> </td>
      <td>
          <a href="/seance/edit/{{seance.id}}">edit</a> | 
          <a href="/seance/del/{{seance.id}}">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div>
    No sessions.
  </div>
{% endif %}

{% endblock %}