{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}


<section class="section">
  <div class="container">
    <h1 class="title">Новий сеанс</h1>
    <form method="post" >
      <label>
        Тест         
        <select name="test_id" required>
            {% for test in tests %}
            <option value="{{test.id}}">{{test.title}}</option>
            {% endfor%}
        </select>
      </label>





      <footer class="grid">
        <button type="submit" >Зберігти</button>
        <a href="/test/list" role="button" class="secondary">Скасувати</a>
      </footer>      

    </form>
{% endblock %}