{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}


<section class="section">
  <div class="container">
    <h1 class="title">New Seance</h1>
    <form method="post" >
      <label>
        Тест         
        <select name="test_id" required>
            {% for test in tests %}
            <option value="{{test.id}}">{{test.title}}</option>
            {% endfor%}
        </select>
      </label>

      <label>
        Open Time
        <input type="datetime-local" name="open_time" value="{{ seance.open_time }}">
      </label>

      <label>
        Open Minutes
        <input type="number" name="open_minutes" value="{{ seance.open_minutes }}">
      </label>

      <label>
        Filter
        <input type="text" name="stud_filter" value="{{ seance.stud_filter }}">
      </label>


      <footer class="grid">
        <button type="submit" >Save</button>
        <a href="/test/list" role="button" class="secondary">Cancel</a>
      </footer>      

    </form>
{% endblock %}