/* однакова висота кнопок схвалення і відмови на формах */
footer.grid button,
footer.grid a[role="button"] {
    height: 3rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.my-error {
    color: red;
}

  /* Remove default bullets */
  .emoji-bullets {
    list-style-type: none !important; /* Ensure no default bullets */
    padding-left: 0;
  }

  /* Add emoji as bullet */
  .emoji-bullets li::before {
    content: "😧 ";                  /* Your emoji here */
    margin-right: 8px;               /* Space between emoji and text */
  }
