{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}


<section class="section">
  <div class="container">
    <h1 class="title">New Test</h1>
    <form method="post" >
      <label>
        Test Title
        <input type="text" name="title" value="{{ test.title }}" required>
      </label>

      <label>
        Test Body
        <textarea name="body" rows=12 style="width: 100%" required>{{ test.body }}</textarea>
      </label>

      <footer class="grid">
        <button type="submit" >Save</button>
        <a href="/test/list" role="button" class="secondary">Cancel</a>
      </footer>      

    </form>
{% endblock %}